In [1]:
pip install pandas

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in d:\anaconda\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\anaconda\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [28]:
import pandas as pd
ser = pd.Series([19,20,23,20],index=["Adam","Emily","Cole","Potato"]);
print(ser);

Adam      19
Emily     20
Cole      23
Potato    20
dtype: int64

In [30]:
print(ser["Adam"]) # make sure that adam should alwsys be in the same case i.e. upper/lower case.

19

In [15]:
#properties of series 
# 1) they are homongeneous 
ser2 = pd.Series([1,2],index=["a",4]); # same index ka type hota hai , as usual 
print(ser2)

a    1
4    2
dtype: int64

In [16]:
# 2) they support vectorization 
sr3 = pd.Series([1,4,6]);
sr4= pd.Series([10,40,10])
print(sr3+sr4)

0    11
1    44
2    16
dtype: int64

In [18]:
# 3) handling the missing values 
ser5 = pd.Series([1,2],index=["a","b"]);

In [19]:
# dataframes 
# from dictionary 
info = {
    "name": ["Abhishek","Shamma","Fatimah"],
    "marks": [60,90,74],
    "gpa":[6,9,7.4]
}
df = pd.DataFrame(info)
print(df);

       name  marks  gpa
0  Abhishek     60  6.0
1    Shamma     90  9.0
2   Fatimah     74  7.4

In [20]:
# from numpy array 
import numpy as np;
np_arr = np.array([["Messi",10],["Neymar",11],["Suarez",9]])
df2= pd.DataFrame(np_arr,columns = ["Player Name","Jersey Number"]);
print(df2);

  Player Name Jersey Number
0       Messi            10
1      Neymar            11
2      Suarez             9

In [24]:
# from lists of lists 
ls = [["Messi",10],["Inesta",8],["Xavi",6],["Jordi Alba",18]]
df3 = pd.DataFrame(ls,columns = ["Players_Name","Jersey_Number"])
df3

  Players_Name  Jersey_Number
0        Messi             10
1       Inesta              8
2         Xavi              6
3   Jordi Alba             18

In [25]:
#csv file 
newCSV=pd.read_csv("employee_data.csv");
print(newCSV);

   ID     Name  Age Department  Salary
0   1    Alice   25         HR   55000
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
3   4    David   45  Marketing   91000
4   5      Eva   38         IT   65000
5   6    Frank   29    Finance   50000
6   7    Grace   41         HR   82000
7   8   Hannah   26  Marketing   47000
8   9      Ian   35         IT   75000
9  10    Julia   30    Finance   60000

In [26]:
# json files 
newJSON = pd.read_json("https://lwfiles.mycourse.app/62a6cd5e1e9e2fbf212d608d-public/publicFiles/employee_data.json");
print(newJSON);

   ID     Name  Age Department  Salary
0   1    Alice   25         HR   55000
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
3   4    David   45  Marketing   91000
4   5      Eva   38         IT   65000
5   6    Frank   29    Finance   50000
6   7    Grace   41         HR   82000
7   8   Hannah   26  Marketing   47000
8   9      Ian   35         IT   75000
9  10    Julia   30    Finance   60000